<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEACHER PANEL</title>
</head>
<body>
    <h1>teacher panel</h1>
    <form action="/user/logout" method="get">
  <button type="submit" style="padding: 6px 12px; border: none; background-color: crimson; color: white; border-radius: 8px; cursor: pointer;">
    Logout
  </button>
</form>

</body>
</html>